@import "tailwindcss";

@layer utilities {
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
  }

  input[type="color"]::-moz-color-swatch {
    border: none;
  }
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
    
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-blue-500 rounded-full transition-colors;
  }

  ::-webkit-scrollbar-thumb:hover{
    @apply bg-blue-600;
  }
  *{
    scrollbar-gutter: stable;
  }
}